*{
    box-sizing: border-box;
    font-family: serif, sans-serif;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;

    body{
        width: inherit;
        height: inherit;

        #root{
            width: inherit;
            height: inherit;

            #background{
                width: inherit;
                height: inherit;
            }
        }
    }
}


#container{
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 25%;
    width: 25%;
}

#toggle-div {
    display: flex;
    justify-content: end;

    #toggle {
        width: 25px;
        height: 20px;
        margin: 5px 5px 0 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            text-align: center;
        }
    }
}



#input{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;

    #password{
        margin: 10px 5px;
        width: 90%;
        height: 30px;
        font-size: inherit;
    }

    #submit{
        height: 30px;
        width: 60px;
        font-size: inherit;
        cursor: pointer;
    }
}



#output{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 10px;

    #bar-container {
        border: 1px solid black;
        border-radius: 5px;
        width: 90%;
        height: 10px;
        margin: auto;


        #bar {
            height: 100%;
            border-radius: inherit;
        }
    }
}




.light {
    .outer{
        background-color: white;
    }
    .inner{
        background-color: rgb(211, 211, 211);
    }
    .text{
        color: black;
    }
    .input-background{
        background-color: rgb(211, 211, 211);
    }
}

.dark {
    .outer{
        background-color: rgb(22, 22, 22);
    }
    .inner {
        background-color: rgb(34, 41, 41);
    }
    .text{
        color: white;
    }
    .input-background{
        background-color: rgb(34, 41, 41);
    }
}

.zero {
    width: 0;
}

.one {
    width: 25%;
    background-color: red;
    transition-duration: 1000ms;
}

.two {
    width: 50%;
    background-color: yellow;
    transition-duration: 1000ms;
}

.three {
    width: 75%;
    background-color: greenyellow;
    transition-duration: 1000ms;
}

.four {
    width: 100%;
    background-color: green;
    transition-duration: 1000ms;
}